* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: 100vh;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	font-family: "Merriweather", serif;
	color: #fbfbfb;
	background: #323;
	font-size: 16px;
	line-height: 1;
}
._container {
	max-width: 1000px;
	margin: 0 auto;
}
.main {
	padding: 70px 0;
}
.content {
}
.content__title {
	font-size: 42px;
	font-weight: 900;
	line-height: 1.5;
	margin-bottom: 70px;
}
.content__subtitle {
	font-size: 34px;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 30px;
}
.content__form {
	max-width: 400px;
	margin-bottom: 60px;
}
.content__select {
	width: 100%;
	font-family: "Merriweather", serif;
	border-radius: 10px;
	outline: none;
	border: none;
	padding: 15px 10px;
	cursor: pointer;
}
.content__option {
	display: block;
	padding: 10px 0;
	margin-bottom: 10px;
	cursor: pointer;
}
.result__title {
	font-size: 22px;
	margin-bottom: 35px;
}
.result__item {
	font-weight: 700;
	opacity: 0.8;
	margin-bottom: 20px;
	margin-left: 40px;
}
